#avatar
  img(src=site.data.mono.avatar)
#aside-main
  h1= config.title
  if config.subtitle
    p= config.subtitle
  nav
    - const menu = site.data.mono.menu ? site.data.mono.menu : theme.menu
    - _.forEach(menu, (link, name) => {
      a(href=link)= name
    - })
if site.data.mono.social_links
  #social-links
    - _.forEach(site.data.mono.social_links, (link, name) => {
      a(href=link target='_blank')
        span(class="fa fa-" + name)
    - })
