meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, initial-scale=1.0")
meta(http-equiv="X-UA-Compatible" content="ie=edge")
title
  if page.title
    = page.title + ' | '
  = config.title
if site.data.mono.icon
  link(rel="shortcut icon" href=site.data.mono.icon type="image/x-icon")
!= css('//cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min')
!= css('/css/style')
!= css('/css/custom')
if site.data.mono.katex
  != js(`//cdnjs.cloudflare.com/ajax/libs/KaTeX/${site.data.mono.katex}/katex.min`)
  != js(`//cdnjs.cloudflare.com/ajax/libs/KaTeX/${site.data.mono.katex}/contrib/auto-render.min`)
  != css(`//cdnjs.cloudflare.com/ajax/libs/KaTeX/${site.data.mono.katex}/katex.min.css`)
  -
    const scriptCode = `
      document.addEventListener("DOMContentLoaded", () => {
        renderMathInElement(document.body, {
          throwOnError: false,
          delimiters: [
            { left: '\$\$', right: '\$\$', display: true},
            { left: '\$', right: '\$', display: false}
          ]
        })
      })
    `
  script!= scriptCode
